doctype html

section.discover
    header
        tg-discover-search-bar(on-change="vm.onSubmit(q)")
        
        div(style="text-align:center; padding-bottom: 50px;")
          a.button-green(
            href="/custom-dashboard"
            title="Or you can check some statistics"
          )
            span.text
              tg-svg(svg-icon="icon-graph" style="fill:#fff;line-height:2.2rem;padding-right:8px;")
              Or you can check some statistics

    section.highlighted
        tg-most-liked
        tg-most-active

    section.featured-projects
        tg-featured-projects
