sidebar.menu-secondary.extrabar.wiki-nav
    header 
        h1.title PROJECTOS 
    ul.wiki-link.fixed-link
        li.wiki-link fixed-link
            a.link-title(
                href="#"
            ) Project1 
        li.wiki-link fixed-link
            a.link-title(
                href="#"
            ) Project1 
    //- ul.nav.bg.clearfix(tg-sort-projects="vm.allprojects")
    //-         li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted(
    //-             tg-bind-scope
    //-             tg-repeat="project in vm.allprojects track by project.get('id')"
    //-             ng-class="{'blocked-project': project.get('blocked_code')}"
    //-         )
    //-             a(
    //-                 href="#"
    //-                 ng-click="vm.setProject(project)"
    //-                 ng-class="{active: vm.active == 'dashboard'}"
    //-                 tabindex="9"
    //-             )
    //-                 
    //-                 span {{ project.get('name') }}
                
              
